

.centering-card{
    width: 70%;
    margin: auto;
    display: grid;
    gap: 30px;
    border: 1px;
}

.centering-image{
    display: flex;
    justify-content:space-around;
    margin-top: 25px;
    margin-bottom: 25px;

}
.centering-image img{
    width: 25%;
}
.round-icon{
    background-color: #B68C5A;
    width: 10%;
}
